<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <table>
      <tr>
        <td class="column-one">
          <form>
            <label><input type="radio" name="region" value="Africa">Africa</label>
            <label><input type="radio" name="region" value="Americas">Americas</label>
            <label><input type="radio" name="region" value="Asia">Asia</label>
            <label><input type="radio" name="region" value="Europe">Europe</label>
            <label><input type="radio" name="region" value="Oceania">Oceania</label>
          </form>
        </td>
        <td class="column-two">
          <div class="answer"></div>
        </td>
      </tr>
    </table>
       
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
